
body {
	color: ivory;
	font: black; 
	background-image: url("images/lsp.jpg");
	}
.pragraphs {
	    text-align: center;
	    font-family: sans-serif;
	    }
h2 {
	text-align: center;
		}

h3 {
	text-align: center;
		    }
a { 
	text-align: center;
	 }
